@media (max-width: 768px) {
  /*-------------Header section------------*/
  .header_content {
    justify-content: space-between;
  }

  .menu ul {
    display: none;
  }

  .menu_btn {
    width: 22px;
    height: 3px;
    background-color: #ffffff;
    position: relative;
    transform: translateY(15px);
  }

  .menu_btn::before,
  .menu_btn::after {
    content: " ";
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #ffffff;
  }

  .menu_btn::before {
    top: -6px;
  }

  .menu_btn::after {
    top: 6px;
  }

  /*-------------Hero section------------*/
  .hero,
  .hero_stars,
  .hero_dots {
    min-height: 680px;
    background-position: right;
  }

  .hero_stars {
    animation-duration: 3s;
  }

  .hero_dots {
    animation-duration: 4s;
    --move_x: -15px;
    --move_z: 35px;
  }

  .hero .container {
    padding-top: 155px;
  }

  /*-------------Main section------------*/
  main {
    text-align: left;
  }

  .main_text {
    display: block;
  }

  .main_text p + p {
    padding-top: 24px;
  }

  /*-------------Learn more section------------*/
  .learn-more-button {
    width: 100px;
    height: 100px;
  }

  .learn-more-button svg {
    margin-left: 5px;
    margin-top: 5px;
    width: 33px;
    height: 31px;
  }

  .learn-more_text br {
    display: none;
  }

  /*-------------Footer section------------*/
  footer .container {
    height: 290px;
    display: block;
    text-align: center;
    padding: 0;
  }

  footer .container * + * {
    padding-top: 20px;
  }

  .footer_logo {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
