:root {
  --move_x: -30px;
  --move_z: 30px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

body * {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.heading {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  margin: 0;
}

/*======================================
-----------------HEADER-----------------
=======================================*/
header .container {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
}

.header_content {
  display: flex;
  justify-content: start;
  padding-top: 45px;
}

.header_text {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-right: 17%;
  padding-top: 8px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu li + li {
  padding-left: 32px;
}

.menu a {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.menu a:hover {
  border-bottom: 2px solid #ffffff;
}

/*======================================
-------------HERO SECTION---------------
=======================================*/
@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes moving-dots {
  100% {
    transform: translateX(var(--move_x)) translateZ(var(--move_z));
  }
}

.hero {
  background: center no-repeat url(../assets/background_1.jpg);
  background-size: cover;
  text-align: center;
  min-height: 797px;
  perspective: 1000px;
}

.hero_stars {
  background: center no-repeat url(../assets/stars.png);
  background-size: cover;
  min-height: 797px;
  width: 100%;
  position: absolute;
  top: 0;
  /*animation: animation of background - stars*/
  animation: blink 2s ease-in-out 0.3s infinite alternate;
}

.hero_dots {
  background: center no-repeat url(../assets/dots.png);
  background-size: cover;
  min-height: 797px;
  width: 100%;
  position: absolute;
  top: 0;
  /*animation: animation of background - dots*/
  animation: moving-dots 2.5s infinite alternate ease-in-out;
}

.hero .container {
  padding-top: 250px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 50;
}

.hero_logo {
  padding-bottom: 10px;
  transition: 0.8s;
  /*animation: logo rotation and zooming*/
}

.hero_logo:hover {
  transform: scale(1.5) rotateY(180deg);
  /*animation: logo rotation and zooming*/
}

.hero h2 {
  color: #ffffff;
  opacity: 70%;
  padding-top: 30px;
}

/*======================================
-----------------MAIN--------------------
=======================================*/

main {
  text-align: center;
  background-color: #eeeeee;
}

.main_heading {
  color: #464547;
}

main .container {
  padding-top: 65px;
}

main h3 {
  color: #666666;
  padding-top: 35px;
  padding-bottom: 45px;
}

.main_text {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(0, 410px));
  gap: 80px;
  text-align: initial;
}

.main_text p {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.content-button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #55c2d8;
  border-radius: 18px;
  border: none;
  text-transform: uppercase;
  width: 115px;
  height: 36px;
  margin-top: 45px;
  margin-bottom: 98px;
  transform-origin: left bottom;
  transition: 0.8s;
  /*animation: rotation of the Read More button*/
}

.content-button:hover {
  /*animation: rotation of the Read More button*/

  transform: rotateZ(10deg);
}

/*======================================
-------------LEARN MORE SECTION----------
=======================================*/

.learn-more {
  background: center no-repeat url(../assets/background_2.jpg);
  background-size: cover;
  text-align: center;
  height: 637px;
}

.learn-more_bg-layer {
  background: rgba(140, 79, 42, 0.3);
  width: 100%;
  height: 100%;
}

.learn-more .container {
  padding: 0 27px;
}

.learn-more_heading {
  padding-top: 84px;
}

.learn-more_text {
  padding-top: 55px;
  color: #ffffff;
}

.learn-more-button {
  margin-top: 53px;
  width: 150px;
  height: 150px;
  background: #39c2d7;
  border-radius: 50%;
  border: none;

  /*animation: Video button transformation*/
  transition: transform 1s, background 0.9s, color 0.8s;
}

.learn-more-button svg {
  margin-left: 10px;
  margin-top: 10px;
  color: #ffffff;
}

.learn-more-button:hover {
  transform: scale(0.9);
  background: #ffffff;
}

.learn-more-button:hover svg {
  color: #39c2d7;
}

/*======================================
----------------FOOTER------------------
=======================================*/
footer {
  background-color: #464547;
}

footer * {
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  font-style: normal;
}

footer .container {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "footer_logo footer_address ."
    ". footer_email footer_copyright";

  height: 200px;
  padding-top: 37px;
}

.footer_logo {
  grid-area: footer_logo;
}

.footer_address {
  grid-area: footer_address;
}

.footer_email {
  grid-area: footer_email;
}

.footer_copyright {
  grid-area: footer_copyright;
}

.footer_logo span {
  padding-left: 15px;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer_address::after {
  content: "\a";
  white-space: pre;
}
