.footer {
  background-color: $color-dark;

  color: $main-color;
  * {
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
  }
  .container {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
      "footer__logo footer__address ."
      ". footer__email footer__copyright";
    height: 200px;
    padding-top: 37px;

    .footer__logo {
      grid-area: footer__logo;
      .footer__logo-title {
        padding-left: 15px;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        opacity: 100%;
      }
    }

    .footer__address {
      opacity: 40%;
      grid-area: footer__address;
    }

    .footer__address::after {
      content: "\a";
      white-space: pre;
    }

    .footer__email {
      opacity: 40%;
      text-decoration: none;
      color: inherit;
      grid-area: footer__email;
    }

    .footer__copyright {
      opacity: 40%;
      grid-area: footer__copyright;
    }
  }
}
