.header {
  .container {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;

    .header__content {
      display: flex;
      justify-content: start;
      padding-top: 45px;

      .header__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $main-color;
        padding-right: 17%;
        padding-top: 8px;
      }

      .header__menu {
        .header__menu-list {
          display: flex;
          justify-content: space-between;

          li + li {
            padding-left: 32px;
          }

          .header__menu-item {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: $main-color;
          }

          .header__menu-item:hover {
            border-bottom: 2px solid $main-color;
          }
        }
      }
    }
  }
}
