.hero {
  background: center no-repeat url(../assets/background_1.jpg);
  background-size: cover;
  text-align: center;
  min-height: $min-height-hero;
  perspective: 1000px;

  .hero__bg-stars {
    background: center no-repeat url(../assets/stars.png);
    background-size: cover;
    min-height: $min-height-hero;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .hero__bg-dots {
    background: center no-repeat url(../assets/dots.png);
    background-size: cover;
    min-height: $min-height-hero;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .container {
    padding-top: 250px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 50;

    .hero__logo {
      padding-bottom: 10px;
    }

    .hero__headline {
      font: $secondary-font;
      color: $main-color;
      margin: 0;
    }
    .hero__heading {
      color: $main-color;
      opacity: 70%;
      padding-top: 30px;
    }
  }
}
