* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  * {
    font: $general-font;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }

  ul,
  li {
    list-style: none;
  }

  .container {
    max-width: $max-width;
    margin: 0 auto;
    padding: $container-padding;
  }
}
