.learn-more {
  background: center no-repeat url(../assets/background_2.jpg);
  background-size: cover;
  text-align: center;
  min-height: $min-height-lmore;
  .learn-more__bg-layer {
    background-color: $color-brown;
    min-height: $min-height-lmore;
    opacity: 30%;
    width: 100%;
    position: absolute;
    z-index: 55;
  }
  .container {
    position: absolute;
    z-index: 60;
    left: 0;
    right: 0;
    .learn-more__headline {
      font: $secondary-font;
      color: $main-color;
      padding-top: 84px;
    }

    .learn-more__text {
      padding-top: 55px;
      color: $main-color;
    }
  }
}
