.main{
    text-align: center;
    background-color: $color-grey-light;
    
    &__headline{
        font: $secondary-font;
        color: $color-dark;
        padding-top: 65px;
    }
    &__heading{
        color: $color-grey-dark;
        padding-top: 35px;
        padding-bottom: 45px;
    }
    &__text{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, minmax(0, 410px));
        gap: 80px;
        text-align: initial;
        &-item{
            font-size: 16px;
            line-height: 22px;
            color: $color-grey-dark;
        } 
    }
}