.hero__bg-stars {
  -webkit-animation: blinks 2.5s ease-in-out 0.3s infinite alternate;
          animation: blinks 2.5s ease-in-out 0.3s infinite alternate;
}
@-webkit-keyframes blinks {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinks {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hero__bg-dots {
  -webkit-animation: moving-dots 2.5s ease-in-out 0s infinite alternate;
          animation: moving-dots 2.5s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes moving-dots {
  100% {
    transform: translateX(-30px) translateZ(30px);
  }
}
@keyframes moving-dots {
  100% {
    transform: translateX(-30px) translateZ(30px);
  }
}

.hero__logo {
  transition: 0.8s;
}
.hero__logo:hover {
  transform: scale(1.5) rotateY(180deg);
}

.main__content-btn {
  transform-origin: left bottom;
  transition: 0.8s;
}
.main__content-btn:hover {
  transform: rotateZ(10deg);
}

.learn-more__btn {
  transition: transform 1s, background 0.9s, color 0.8s;
}
.learn-more__btn:hover {
  transform: scale(0.9);
  background: #ffffff;
}
.learn-more__btn:hover .learn-more__btn-svg {
  color: #39c2d7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  font: normal 400 24px/32px "Source Sans Pro", sans-serif;
}
body a {
  text-decoration: none;
  display: inline-block;
}
body ul,
body li {
  list-style: none;
}
body .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.header .container {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
}
.header .container .header__content {
  display: flex;
  justify-content: start;
  padding-top: 45px;
}
.header .container .header__content .header__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-right: 17%;
  padding-top: 8px;
}
.header .container .header__content .header__menu .header__menu-list {
  display: flex;
  justify-content: space-between;
}
.header .container .header__content .header__menu .header__menu-list li + li {
  padding-left: 32px;
}
.header .container .header__content .header__menu .header__menu-list .header__menu-item {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
.header .container .header__content .header__menu .header__menu-list .header__menu-item:hover {
  border-bottom: 2px solid #ffffff;
}

.hero {
  background: center no-repeat url(../assets/background_1.jpg);
  background-size: cover;
  text-align: center;
  min-height: 797px;
  perspective: 1000px;
}
.hero .hero__bg-stars {
  background: center no-repeat url(../assets/stars.png);
  background-size: cover;
  min-height: 797px;
  width: 100%;
  position: absolute;
  top: 0;
}
.hero .hero__bg-dots {
  background: center no-repeat url(../assets/dots.png);
  background-size: cover;
  min-height: 797px;
  width: 100%;
  position: absolute;
  top: 0;
}
.hero .container {
  padding-top: 250px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 50;
}
.hero .container .hero__logo {
  padding-bottom: 10px;
}
.hero .container .hero__headline {
  font: normal 700 48px/64px "Oswald", sans-serif;
  color: #ffffff;
  margin: 0;
}
.hero .container .hero__heading {
  color: #ffffff;
  opacity: 70%;
  padding-top: 30px;
}

.main {
  text-align: center;
  background-color: #eeeeee;
}
.main__headline {
  font: normal 700 48px/64px "Oswald", sans-serif;
  color: #464547;
  padding-top: 65px;
}
.main__heading {
  color: #666666;
  padding-top: 35px;
  padding-bottom: 45px;
}
.main__text {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(0, 410px));
  gap: 80px;
  text-align: initial;
}
.main__text-item {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.learn-more {
  background: center no-repeat url(../assets/background_2.jpg);
  background-size: cover;
  text-align: center;
  min-height: 637px;
}
.learn-more .learn-more__bg-layer {
  background-color: #8c4f2a;
  min-height: 637px;
  opacity: 30%;
  width: 100%;
  position: absolute;
  z-index: 55;
}
.learn-more .container {
  position: absolute;
  z-index: 60;
  left: 0;
  right: 0;
}
.learn-more .container .learn-more__headline {
  font: normal 700 48px/64px "Oswald", sans-serif;
  color: #ffffff;
  padding-top: 84px;
}
.learn-more .container .learn-more__text {
  padding-top: 55px;
  color: #ffffff;
}

.footer {
  background-color: #464547;
  color: #ffffff;
}
.footer * {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}
.footer .container {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 40% 60%;
  grid-template-areas: "footer__logo footer__address ." ". footer__email footer__copyright";
  height: 200px;
  padding-top: 37px;
}
.footer .container .footer__logo {
  grid-area: footer__logo;
}
.footer .container .footer__logo .footer__logo-title {
  padding-left: 15px;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 100%;
}
.footer .container .footer__address {
  opacity: 40%;
  grid-area: footer__address;
}
.footer .container .footer__address::after {
  content: "\a";
  white-space: pre;
}
.footer .container .footer__email {
  opacity: 40%;
  text-decoration: none;
  color: inherit;
  grid-area: footer__email;
}
.footer .container .footer__copyright {
  opacity: 40%;
  grid-area: footer__copyright;
}

.main__content-btn {
  font: normal 700 48px/64px "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #39c2d7;
  border-radius: 18px;
  border: none;
  text-transform: uppercase;
  width: 115px;
  height: 36px;
  margin-top: 45px;
  margin-bottom: 98px;
}

.learn-more__btn {
  margin-top: 53px;
  width: 150px;
  height: 150px;
  background: #39c2d7;
  border-radius: 50%;
  border: none;
}
.learn-more__btn-svg {
  margin-left: 10px;
  margin-top: 10px;
  color: #ffffff;
}

@media (max-width: 768px) {
  /*-------------Header section------------*/
  .header .container .header__content {
    justify-content: space-between;
  }
  .header .container .header__content .header__menu .header__menu-list {
    display: none;
  }
  .header .container .header__content .header__menu .header__menu-btn {
    width: 22px;
    height: 3px;
    background-color: #ffffff;
    position: relative;
    transform: translateY(15px);
  }
  .header .container .header__content .header__menu .header__menu-btn::before, .header .container .header__content .header__menu .header__menu-btn::after {
    content: " ";
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #ffffff;
  }
  .header .container .header__content .header__menu .header__menu-btn::before {
    top: -6px;
  }
  .header .container .header__content .header__menu .header__menu-btn::after {
    top: 6px;
  }
  /*-------------Hero section------------*/
  .hero {
    min-height: 680px;
    background-position: right;
  }
  .hero .hero__bg-stars {
    min-height: 680px;
    background-position: right;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  .hero .hero__bg-dots {
    min-height: 680px;
    background-position: right;
    -webkit-animation: moving-dots 4s ease-in-out 0s infinite alternate;
            animation: moving-dots 4s ease-in-out 0s infinite alternate;
  }
  @-webkit-keyframes moving-dots {
    100% {
      transform: translateX(-15px) translateZ(35px);
    }
  }
  @keyframes moving-dots {
    100% {
      transform: translateX(-15px) translateZ(35px);
    }
  }
  .hero .container {
    padding-top: 155px;
  }
  .main {
    text-align: left;
  }
  .main .main__text {
    display: block;
  }
  .main .main__text p + p {
    padding-top: 24px;
  }
  /*-------------Learn more section------------*/
  .learn-more .learn-more__btn {
    width: 100px;
    height: 100px;
  }
  .learn-more .learn-more__btn .learn-more__btn-svg {
    margin-left: 5px;
    margin-top: 5px;
    width: 33px;
    height: 31px;
  }
  .learn-more .learn-more__text br {
    display: none;
  }
  /*-------------Footer section------------*/
  .footer .container {
    height: 290px;
    display: block;
    text-align: center;
    padding: 0;
  }
  .footer .container * + * {
    padding-top: 20px;
  }
  .footer .container .footer__logo {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}/*# sourceMappingURL=styles.css.map */