.main__content-btn {
  font: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: $main-color;
  background-color: $color-blue;
  border-radius: 18px;
  border: none;
  text-transform: uppercase;
  width: 115px;
  height: 36px;
  margin-top: 45px;
  margin-bottom: 98px;
}

.learn-more__btn {
  margin-top: 53px;
  width: 150px;
  height: 150px;
  background: #39c2d7;
  border-radius: 50%;
  border: none;

  &-svg {
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
  }
}
