.hero__bg-stars {
  @include keyframes(blinks) {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @include animate(blinks, 2.5s, ease-in-out, 0.3s, infinite, alternate);
}

.hero__bg-dots {
  @include keyframes(moving-dots) {
    100% {
      transform: translateX($move-x) translateZ($move-z);
    }
  }
  @include animate(moving-dots, 2.5s, ease-in-out, 0s, infinite, alternate);
}

.hero__logo {
  transition: 0.8s;
  &:hover {
    transform: scale(1.5) rotateY(180deg);
  }
}
.main__content-btn {
  transform-origin: left bottom;
  transition: 0.8s;
  &:hover {
    transform: rotateZ(10deg);
  }
}

.learn-more__btn {
  transition: transform 1s, background 0.9s, color 0.8s;
  &:hover {
    transform: scale(0.9);
    background: $main-color;

    .learn-more__btn-svg {
      color: $color-blue;
    }
  }
}
