@include mobile {
  /*-------------Header section------------*/
  .header {
    .container {
      .header__content {
        justify-content: space-between;

        .header__menu {
          .header__menu-list {
            display: none;
          }
          .header__menu-btn {
            width: 22px;
            height: 3px;
            background-color: $main-color;
            position: relative;
            transform: translateY(15px);
            &::before,
            &::after {
              content: " ";
              position: absolute;
              width: 22px;
              height: 3px;
              background-color: $main-color;
            }

            &::before {
              top: -6px;
            }

            &::after {
              top: 6px;
            }
            
          }
        }
      }
    }
  }

  /*-------------Hero section------------*/
  .hero {
    min-height: 680px;
    background-position: right;
    
    .hero__bg-stars {
      min-height: 680px;
      background-position: right;
      animation-duration: 3s;
    }

    .hero__bg-dots {
      min-height: 680px;
      background-position: right;
      $move-x: -15px;
      $move-z: 35px;
      @include keyframes(moving-dots) {
        100% {
          transform: translateX($move-x) translateZ($move-z);
        }
      }
      @include animate(moving-dots, 4s, ease-in-out, 0s, infinite, alternate);
    }
    .container {
      padding-top: 155px;
    }
  }
  // /*-------------Main section------------*/
  .main {
    text-align: left;

    .main__text {
      display: block;

      p + p {
        padding-top: 24px;
      }
    }
  }

  /*-------------Learn more section------------*/
  .learn-more {
    .learn-more__btn {
      width: 100px;
      height: 100px;

      .learn-more__btn-svg {
        margin-left: 5px;
        margin-top: 5px;
        width: 33px;
        height: 31px;
      }
    }
    .learn-more__text br {
      display: none;
    }
  }
  /*-------------Footer section------------*/
  .footer {
    .container {
      height: 290px;
      display: block;
      text-align: center;
      padding: 0;

      * + * {
        padding-top: 20px;
      }

      .footer__logo {
        padding-top: 60px;
        padding-bottom: 30px;
      }
    }
  }
}
