@mixin animate($animation, $duration, $method, $delay, $times, $direction) {
  animation: $animation $duration $method $delay $times $direction;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: $breakpoint-width){
    @content;
  }
}
