//fonts
$general-font: normal 400 24px/32px "Source Sans Pro", sans-serif;
$secondary-font: normal 700 48px/64px "Oswald", sans-serif;

//colors
$color-white: #ffffff;
$color-grey-light: #eeeeee;
$color-grey-dark: #666666;
$color-brown: #8c4f2a;
$color-azurean: #55c2d8;
$color-blue: #39c2d7;
$color-dark: #464547;

$main-color: $color-white;

$max-width: 960px;
$container-padding: 0 30px;
$min-height-hero: 797px;
$min-height-lmore: 637px;

$move-x: -30px;
$move-z: 30px;

//media queries
$breakpoint-width: 768px;
